.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 10rem;
}

.input-wrapper {
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

