
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#create-post-form {
  justify-content: center;
  align-items: center;
  width: 40rem;
}
#create-new-post-title,
#create-new-post-img {
  height: 2rem;
  width: 40rem;
  padding: 1rem;
}
#create-new-post-body {
  min-height: 20rem;
  width: 40rem;
  resize: none;
  padding: 0.5rem;
}
