.single-post {
  width: 99%;
  max-width: 55rem;
}
.single-post img {
  width: 100%;
  margin-bottom: 2rem;
}

#blog-feed-title {
  text-align: start;
  margin-bottom:2rem ;
}
#blog-feed-body {
    white-space: pre-wrap;
}

.single-post h6, h5{
    font-weight: 400;
}

.author-and-copy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.author-and-copy-link #copy-link-img {
  width: 1.8rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#copy-link {
border: none;
height: 1.5rem;
}

#blog-feed-author {
  height: fit-content;
}

.single-post p {
  margin-bottom: 1rem;
  min-height: fit-content;
}

#blog-feed-dates {
  display: flex;
  justify-content: space-between;
}

.post-details {
    margin-top: 3rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    border-top: solid 1px black;
    padding-top: 1rem;
}
